<h1>Welcome to Coin Combination</h1>
<form action="/title">
  <div class="form-group">
    <label for="title">See the lowest coin combination possible for your desired amount</label>
    <input id="coin" name="coin" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
